<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                MyExpenses
            </a>
        </div>
        <ul class="nav">
            <li class="{% if route starts with('admin') %}active{% endif %}">
                <a href="/admin">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="{% if route starts with('user') %}active{% endif %}">
                <a href="/user">
                    <i class="ti-user"></i>
                    <p>Usuários</p>
                </a>
            </li>
            {% endif %}
            <li class="">
                <a href="/logout">
                    <i class="ti-share-alt"></i>
                    <p>Sair</p>
                </a>
            </li>
        </ul>
    </div>
</div>
