<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="https://github.com/marcosteodoro/" class="simple-text">
                MyExpenses
            </a>
        </div>

        <ul class="nav">
            <li class="{% if route == 'admin' %}active{% endif %}">
                <a href="/admin">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="{% if route == 'user' %}active{% endif %}">
                <a href="/user">
                    <i class="ti-user"></i>
                    <p>Usuários</p>
                </a>
            </li>
            {# <li>
                <a href="table.html">
                    <i class="ti-view-list-alt"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="ti-text"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <i class="ti-pencil-alt2"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="ti-map"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="ti-bell"></i>
                    <p>Notifications</p>
                </a>
            </li> #}
            <li class="active-pro">
                <a href="/logout">
                    <i class="ti-share-alt"></i>
                    <p>Sair</p>
                </a>
            </li>
        </ul>
    </div>
</div>
